body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    width: 500px;
    height: 500px;
    background-color: red;
}

#child {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 25px;
}