* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: rgb(15, 15, 15);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#reloadBtn {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    position: absolute;
    top: 150px;
    transition: all 0.3s;
}

#reloadBtn:hover {
    background-color: rgb(200, 200, 200);
}
