body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sticky-header, ul, a, li {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    list-style-type: none;
}

.space {
    height: 200vh;
}